* {
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  width: 100vw;
}
.title {
  margin-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;
}
.inputNumber {
  width: 250px;
  height: 40px;
  background-color: lightgrey;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}
.button {
  width: 150px;
  height: 40px;
  background-color: palevioletred;
  border-radius: 5px;
  border: none;
  color: white;
  margin-bottom: 10px;
}
.result {
  display: flex;
  flex-direction: column;
}
.clue {
  margin-bottom: 10px;
}
.attempt {
  height: 30px;
  border: 2px grey solid;
  border-radius: 5px;
}
